body {
    background: linear-gradient(to left, #ff33cc,#f5a2e0 ,#9900cc);
    font-family: fantasy;
    color: white;
    text-align: center;
}
#glamazon h2 {
   
    font-size: 50px;
    margin-bottom: 10px;
    color: #f5a2e0;
    text-shadow: 3px 3px 5px #cf49f5;
    top: 30px;
    left: 60px;
    -webkit-text-stroke: .5px #99d6ff;
    
}
.star3 {
    width: 70px;
}

.star2 {
width: 50px;
}
.header ul {
display: flex;
flex-direction:row;
justify-content: space-around;
list-style-type: none;
padding: 0;
cursor: pointer;
    
}

.header ul {
    
    font-size: 25px;
    color:antiquewhite;
    transition: color 0.3 ease;
}

.header ul :hover {
    color: black;
    text-decoration: underline;
}
.container {
    padding: 50px 20px;
}



.sub-header {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #f5a2e0;
    text-shadow: 3px 3px 5px #cf49f5;
}
h3 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
}
.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

input {
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    margin-right: 10px ;
    background-color: #ffccff;
    color: black;
}

button {
    padding: 10px 20px;
    background-color: #f5a2e0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

button:hover {
    background-color: #99d6ff;
}

.results-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    
}

.result-item {
 background-color: #f5a2e0;
 border: 5px solid #cf49f5; 
 border-radius: 10px;
 padding: 10px;
 margin: 10px;
 width: 200px;
 text-align: center;
 color: black;
 max-height:fit-content;
 min-height: 150px;
 overflow: hidden;
 word-wrap: break-word;
 transition: transform 0.3s ease, box-shadow 0.3s ease;
 cursor: pointer;  
 
}

.result-item img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.result-item h3, .result-item p:first-of-type {
    font-size: 1.2em;
    margin: 10px 0;
}

.extra-info {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease, height 0.3s ease;
}
.extra-info p {
    font-size: 12.5px;
}

.result-item:hover .extra-info {
    opacity: 1;
    height: auto;
}

.result-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

